html, body {
  height: 100%;
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: xx-large;
}

html {
  display: table;
  margin: auto;
}

body {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: 0px solid white;  
  border-bottom: 1px solid white;
  color: white;
}

#textTest, span {
  cursor: pointer;
}

.main {
  border-radius: 5px;
  padding: 50px;
  background-color: rgba(5, 5, 5, 0.5)
}

.main > div:nth-child(odd) {
  background-color: grey;
  border-bottom: 1px solid white;
}

.parameters {
  display: flex;
  flex-direction: column;
}

.parameters > * {
  flex: 50%;
}

.attempt, .ignore, .accuracy, .timer, .testspecifications {
  display: flex;
  flex-direction: row;
}

.attempt > div, .ignore > div, .accuracy > div, .timer > div , .testspecifications > div {
  flex: 50%;
  padding-right: 100px;
}

.attempt, .ignore, .accuracy, .timer, .testspecifications {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}