html, body {
  height: 100%;
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: xx-large;
}

html {
  display: table;
  margin: auto;
}

body {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: 0px solid white;  
  border-bottom: 1px solid white;
  color: white;
}

#result {
  cursor: pointer;
}

.main {
  width: 800px;
  border-radius: 5px;
  padding: 25px;
  background-color: rgba(5, 5, 5, 0.5)
}

.main > div:nth-child(odd) {
  background-color: grey;
  border-bottom: 1px solid white;
}

.status, .parameters {
  display: flex;
  flex-direction: column;
}

status > *, .parameters > * {
  flex: 50%;
}

.ui-test, .attempt, .ignore, .accuracy, .timer, .testspecifications {
  display: flex;
  flex-direction: row;
}

.attempt > div, .ignore > div, .accuracy > div, .timer > div , .testspecifications > div {
  flex: 50%;
}

.status, #textTest, .attempt, .ignore, .accuracy, .timer, .testspecifications {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.test {
  text-align: left;
  flex: 90%;
}

#blankCharacter, #result {
  height: 50px;
  background-color: black; 
  white-space: nowrap;
}

.status {
  flex-grow: 0.5;
}