html, body {
  height: 100%;
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: xx-large;
}

html {
  display: table;
  margin: auto;
}

body {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

h3 {
  margin: 0px;
}

#result {
  cursor: pointer;
}

.main {
  width: 800px;
  border-radius: 5px;
  padding: 25px;
  background-color: rgba(5, 5, 5, 0.5)
}


#NumberWordID, #DifficultyID, .status, .parameters {
  display: flex;
  flex-direction: column;
}

#NumberWordID > *, #DifficultyID > *, .parameters > * {
  flex: 50%;
}

input {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.parameters {
  border-bottom: 1px solid white;
  border-top:    1px solid white;
}

.action, .ui-test, .attempt, .ignore, .accuracy, .timer, .testspecifications {
  display: flex;
  flex-direction: row;
}

.action > div, .attempt > div, .ignore > div, .accuracy > div, .timer > div , .testspecifications > div {
  flex: 50%;
}

.action, .status, #textTest, .attempt, .ignore, .accuracy, .timer, .testspecifications {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.testspecifications {
  border-bottom:  1px solid white;
  border-top:     1px solid white;
}

.action {
  margin-bottom: 10px;
  margin-top: 10px;
}

.test {
  text-align: left;
  flex: 90%;
}

#blankCharacter, #result {
  height: 50px;
  background-color: black; 
  white-space: nowrap;
}

.status {
  flex-grow: 0.5;
}